{{#section  'title'}}
Mua Hàng
{{/section}}
<div class="list">
    {{!-- <div class="card-header d-flex justify-content-between bg-dark text-white">
        <h4>Sản Phẩm</h4>
    </div> --}}
    {{#if this.empty}}
    
    <div class="card-body">
        <h4 class="card-text">Hết Hàng</h4>
    </div>

    {{else}}
    <div class="card-body">
        <div class="row">
            {{#each this.products}}
                <div class="col-sm-4 mb-3">
                    <div class="card h-100">
                        <img src="/public/image/sp/{{ProID}}/main.jpg" alt="{{ProName}}" title="{{ProName}}: {{Price}}" class="card-img-top">
                        <div class="card-body">
                            <h6 class="card-title">{{ProName}}</h6>
                            <h4 class="card-title text-danger">{{format_number Price}}</h4>
                            {{!-- <p class="card-text">{{TinyDes}}</p> --}}
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-sm btn-outline-primary" href="/products/details?id={{ProID}}" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Chi Tiết
                            </a>
                            <a class="btn btn-sm btn-outline-success" href="/cart/addtocart?id={{ProID}}" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Thêm Vào Giỏ Hàng
                            </a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    
                    <li class="page-item {{#unless can_go_prev}} disabled {{/unless}}">
                    <a class="page-link" href="{{prev_value}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>

                    {{#each this.page_items}}

                        {{#if isActive}}

                        <li class="page-item active" aria-current="page">
                            <span class ="page-link">
                                {{i}}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>

                            {{else}}

                                <li class="page-item ">
                                    <a class="page-link" href="{{value}}"> {{i}} </a>
                                </li>

                        {{/if}}

                    {{/each}}

                    
                    <li class="page-item {{#unless can_go_next}} disabled {{/unless}}">
                    <a class="page-link" href="{{next_value}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>

                </ul>
            </nav>
    </div>
    {{/if}}

    
</div>